@charset "utf-8";
/* CSS Document */

body {
	background-color: black;
}

.content h2 {
	font-family: 'Roboto', sans-serif;
	color: white;
	margin-top: 100px;
	margin-left: 60px;
	margin-right: 60px;
}

.content img {
	margin-left: 60px;
	margin-top: 20px;
}

.content p {
	font-family: 'Roboto', sans-serif;
	color: white;
	margin-left: 60px;
	margin-right: 60px;
}

.content a {
	text-decoration: none;
	color: #AC01CE
}

.moonphase {
	height: 25%;
	width: 25%;
}

.soho {
	width: 25%
}