@charset "utf-8";
/* CSS Document */

<<<<<<< Updated upstream
<<<<<<< Updated upstream
p {
	color: white;
}

dt {
	color: white;
=======
=======
body {
	background-color: black;
}

>>>>>>> Stashed changes
p, dt, dd, li {
	color: white;
	font-family: 'Roboto', serif;
	font-weight: 200;
	margin-left: 60px;
	margin-right: 60px;
	line-height: 20px;
}

dt {
	margin-top: 50px;
}

.intro {
	margin-top: 100px;
}

a {
	color: #AC01CE;
	text-decoration: none;
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
}