@charset "UTF-8";
/* Body */
body {
	font-family: source-sans-pro;
	background-color: black;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: #FFFFFF;
}

/* Navigation */
header {
    width: 100%;
    height: 200px;
    background-image: url(../images/wp2088405.jpg);
    background-attachment: fixed;
}
h1 {color: white;
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 40px;
    letter-spacing: .1em;
}
.navhead {font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 2px;
}
.logo {
	color: #fff;
	font-weight: bold;
	text-align: left;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
    width:
}
/*nav {
	float: right;
	width: 70%;
	text-align: right;
	margin-right: 10px;
    margin-top: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
    font-family: sans-serif;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
	position: relative;
}
nav ul li a {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}
nav ul li ul {
	display: none;
	position: absolute;
}
nav ul li:hover a {
	display: block;
	color: #2C9AB7;
}*/

/*!* {
	outline: 2px solid red;
}
nav {
	width: 100%;
	height: 60px;
}

nav ul {
	float: right;
	
}

nav ul li {
	float: left;
	list-style: none;
	position: relative;
	color: #FFFFFF;
	font-family: sans-serif;
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: bold;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: #c2c2c2;
	padding: 16px 16px;
}

nav ul li a:before {
	position: absolute;
	content: '';
	height: 0;
	width 0;
	border: 3px solid transparent;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
}

nav ul li a:hover {
	border: 3px solid white;
	border-bottom: none;
	border-right: none;
	transition: height 0.5s linear, 
				width 0.5s linear 0.5s;
}

	
nav ul li ul {
	display: none;
	position: absolute;
	background-color: black;
	width: 150px;
	/*border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
	display: block;
	padding: 0px 0px;
	z-index: 1;
}

nav ul li ul li {
	border-radius: 100px;
	text-align: center;
}*/

.hero_header {
	color: #FFFFFF;
    font-family: sans-serif;
	text-align: center;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}

/* Hero Section */
.hero {
    background-color: black;
    background-size: cover;
	padding-top: 25px;
	padding-bottom: 25px;
}
.light {
	font-weight: bold;
	color: #717070;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* About Section */
.text_column {
	width: 75%;
	text-align: justify;
	line-height: 25px;
	padding-left: 20px;
	padding-right: 20px;
	color: black;
}
.about {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	display: inline-block;
	background-color: #FFFFFF;
	margin-top: 0px;
}

/* Stats Gallery */
.stats {
	color: #717070;
	margin-bottom: 5px;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #A3A3A3;
}

/* Parallax Section */
.banner {
	background-color: #2D9AB7;
	background-image: url(images/horsehead.jpg);
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.parallax {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
/* More info */
footer {
	background-color: #FFFFFF;
	padding-bottom: 35px;
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	text-align: center;
}
footer .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: darkgrey;
	color: #C4C4C4;
	cursor: pointer;
}
.copyright {
    font-family: sans-serif;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: black;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	background-image: linear-gradient(#0E0064, black);
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0px;
	background-repeat: repeat;
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}
