@charset "utf-8";
/* CSS Document */

!* {
	outline: 2px solid red;
}



nav {
	width: 100%;
	height: 56px;
	background-color: black;
	
}

nav ul {
	float: right;
	margin-top: 0;
	margin-bottom: 0;
}

nav ul li {
	float: left;
	list-style: none;
	position: relative;
	color: #FFFFFF;
	font-family: sans-serif;
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: bold;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: #c2c2c2;
	padding: 20px 20px;
}

nav ul li a:hover {
	background-color: white;
	color: black;
}

	
nav ul li ul {
	display: none;
	position: absolute;
	background-color: black;
	padding: 20px 20px;
}

nav ul li:hover ul {
	display: block;
	padding: 0px 0px;
	z-index: 1;
}

nav ul li ul li {
	border-radius: 100px;
	text-align: center;
}