.people {
	display: inline-block;
	width: 100%;
}

.people h1 {
	color: whitesmoke;
	padding: 20px;
}

.people h2 {
    color: whitesmoke;
    background-color: black;
    font-size: 30px;
	margin: 15px 12px;
	padding-top: 6px;
	padding-bottom: 6px;
}

h3 {
    color: whitesmoke;
}



.card {
  background: whitesmoke;
  display: inline-block;
  max-height: 1000px;
  height: 660px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 360px;
  margin:  30px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  font-family: arial;	
}

.card h1{
    padding-top: 5px;
    
}

.title {
  background-color: whitesmoke;
  color: grey;
  font-size: 18px;
  margin: 10px;
}

.contact {
  color: black;
  height: 100px;
  width: 340px;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  padding-top: 6px;
}

.contact p {
    color: whitesmoke;
}

.card a {
  text-decoration: none;
  color: whitesmoke;
  bottom: 10px;
}

.card img {
    width: 100%;
	padding: 1em;
	background-color: whitesmoke;
}

/* unvisited link */
.contact a:link {
  color: aliceblue;
}

/* visited link */
.contact a:visited {
  color: plum;
}

/* mouse over link */
.contact a:hover {
  color: mediumblue;
}

/* selected link */
.contact a:active {
  color: gray;
}

.parallax {
  /* The image used */
  background-image: url("img_parallax.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}