h2 {
    color: white;
}

h3 {
    color: white;
}

body {
    background: darkslateblue;
}
.card {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;    
}

.title {
  color: grey;
  font-size: 18px;
}

.contact {
  border: none;
  outline: 0;
  display: inline-block;
  color: black;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.contact p {
    color: white;
}

.card a {
  text-decoration: none;
  color: white;
  bottom: 10px;
}
